<ion-header>
  <ion-toolbar>
    <ion-title> Keyboard Stuffs </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <div>Current Status: {{ status }}</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">iOS Required User Interaction</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-button (click)="show()">Show</ion-button>
        <ion-button (click)="hide()">Hide</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
